<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="About.css">
</head>
<body>
       <header class="topnav">
        <nav>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/213/768/small/letter-n-thunderbolt-energy-logo-symbol-icon-design-vector.jpg"width="70" alt="">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="../components/About.html">ABOUT</a></li>
                <li><a href="../components/contact.html">CONTACT</a></li>
                <li><a href="#">HELP</a></li>
            </ul>
        </nav>
        <div class="search1">
            <input class="sear1" type="search"placeholder="search">
            <button class="button1">submit</button>
        </div>   
       </header>
       <main>
       
       
            <nav>
                  
                 <h1>(ABOUT US )</h1>
                 <h5>..this is about page...</h5>
                  
            </nav>
            <div> 
                <img class="imag1"  src="https://media.istockphoto.com/id/184899524/photo/shoppers-in-the-mall.jpg?s=1024x1024&w=is&k=20&c=GluDYNh9Q8SRn6R4binb2umi1hcweTfS56HbXqyBU_c=" width="500"  alt="">
            </div>
                <div class="shopp">

                    <p>Shopping is an activity in which a customer browses the available goods or services presented by one or more retailers with the potential intent to purchase a suitable selection of them. A typology of shopper types has been developed by scholars which identifies one group of shoppers as recreational shoppers,[1] that is, those who enjoy shopping and view it as a leisure activity.[2]
                        
                        Online shopping has become a major disruptor in the retail industry[3] as consumers can now search for product information and place product orders across different regions. Online retailers deliver their products directly to the consumers' home, offices, or wherever they want. The B2C (business to consumer) process has made it easy for consumers to select any product online from a retailer's website and to have it delivered relatively quickly. Using online shopping methods, consumers do not need to consume energy by physically visiting physical stores. This way they save time and the cost of traveling. A retailer or a shop is a business that presents a selection of goods and offers to trade or sell them to customers for money or other goods.
                        
                        Shoppers' shopping experiences may vary. They are based on a variety of factors including how the customer is treated, convenience, the type of goods being purchased, and mood.[4]</p>
                    </div>
                    </main>
       <footer>

       </footer>
</body>
</html>