<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
       <header class="topnav">
        <nav>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/213/768/small/letter-n-thunderbolt-energy-logo-symbol-icon-design-vector.jpg"width="70" alt="">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="../components/About.html">ABOUT</a></li>
                <li><a href="../components/contact.html">CONTACT</a></li>
                <li><a href="#">HELP</a></li>
            </ul>
        </nav>
        <div class="search1">
            <input class="sear1" type="search"placeholder="search">
            <button class="button1">submit</button>
        </div>   
       </header>
       <main>
               <div class="form1">
                <h1>contact us</h1>
                    <form>
                        <label>Name:</label><br>
                        <input type="full name"placeholder=" name"><br><br>
                        <label>E-mail:</label><br>
                        <input type="email"placeholder="email"><br><br>
                        <label>message:</label><br>
                        <input type="message"placeholder="message"><br><br>
                        <button class="button2">submit</button>
                    </form>
               </div>
       </main>
       <footer>
               <img src="https://img.freepik.com/premium-vector/blue-social-media-logo_197792-1759.jpg" width="50"  alt="">
               <img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?w=2000" width="50"  alt="">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSET082qqmLgB96i9y2UFR1nwcGhpUSaaStOb74J5WFD0VnOJoDnpoA8TRDgQ5VNEsojP4&usqp=CAU" width="50"  alt="">
       </footer> 
       </body>
       </html>